section, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, summary {
    @apply block;
}
.header-style-2.is-fixed {
    @apply w-full fixed top-0 left-0 z-99;
}
.header-style-2 .h-cart-block {
    @apply relative z-1 py-5 px-7.5 border-l border-[#dbdbdb] table float-right;
}
.header-style-2 .h-cart-block > a .shopping-bag.wcmenucart-count {
    @apply bg-primary text-white rounded-full size-5 block text-center text-xs/5 font-semibold absolute right-3.25 top-2.75;
}
.header-style-2 .main-bar {
    @apply w-full duration-500 bg-[rgb(255,255,255)];
}
.header-style-2 .main-bar .container, .header-style-2 .main-bar .container-fluid {
    @apply flex items-center border-l-[20px] border-r-[20px] border-r-[#443935] border-l-[#443935] border-t-[20px] border-b-[20px] border-t-[#f3f3f3] border-b-[#f3f3f3]; 
}
.header-style-2 .main-bar:after, .header-style-2 .main-bar:after {
    @apply table clear-both;
}
.color-fill.main-bar {
   @apply fixed top-0;
}
.header-style-2.site-header ul, .header-style-2.site-header ol {
    @apply mb-0;
}
.xmenu-search.show{
	@apply -translate-1/2 opacity-100 z-999 block size-full visible !top-1/2;
}
.xmenu-search.show form {
	@apply opacity-100;
}
.header-style-2 .extra-cell:first-child {
    @apply pl-0;
}
.header-style-2 .extra-cell {
    @apply table-cell align-middle;
}
.xs-sidebar-group .xs-overlay{
	@apply left-full top-0 fixed z-[101] size-full opacity-0 invisible duration-500 ease-in;
}
.xs-sidebar-group.isActive .xs-overlay{
	@apply opacity-70 visible transition-all duration-[800ms] ease-out left-0;
}
.xs-bg-black {
    @apply bg-black;
}
.xs-overlay {
    @apply absolute top-0 left-0 size-full opacity-50 z-0;
}
.xs-sidebar-widget {
    @apply fixed -right-full top-0 bottom-0 max-w-150 z-9999 overflow-hidden overflow-y-auto bg-white duration-500 
	invisible opacity-0 ease-[cubic-bezier(0.9,0.03,0,0.96)] delay-[600ms];
}
.xs-sidebar-group.isActive .xs-sidebar-widget{
	@apply opacity-100 visible right-0 transition-all duration-700 ease-[cubic-bezier(0.9,0.03,0,0.96)] delay-[400ms];
}
.sidebar-widget-container {
    @apply relative top-37.5 opacity-0 invisible duration-300 ease-in [backface-visibility:hidden];
}
.xs-sidebar-group.isActive .sidebar-widget-container{
	@apply top-0 opacity-100 visible transition-all duration-1000 ease-out delay-[1200ms] [backface-visibility:hidden];
}
.sticky-header.is-fixed {
    animation: 0.95s ease 0s normal forwards 1 running mainBar_on_scrollAnimatio;
}
@keyframes mainBar_on_scrollAnimatio {
0% {
  margin-top: -120px;
}
100% {
  margin-top: 0;
}
}