.twm-slider1-wrap .twm-slider1 {
   @apply size-full max-w-[45vw] relative z-1 p-0 m-0;
}
.twm-slider1-wrap .twm-slider1 .twm-slider1-slides .swiper-slide {
   @apply flex items-center px-12.5;
}
.twm-slider1-wrap .swiper-pagination .swiper-pagination-current {
    @apply text-2.8xl !text-secondary inline-table;
}
.twm-slider1-wrap .buttons-controls .swiper-button-next:after, .twm-slider1-wrap .buttons-controls .swiper-button-prev:after {
    @apply text-lg font-semibold text-white;
}
.twm-slider1-wrap .swiper-button-next:after,.twm-slider1-wrap .swiper-button-prev:after {
    @apply !text-base text-primary bg-transparent py-2.5 px-3;
}
.swiper-button-next, .swiper-button-prev {
    @apply size-12.5 text-white bg-primary duration-500;
} 
@media (max-width: 575px) {
.buttons-controls .swiper-button-next, .buttons-controls .swiper-button-prev {
    @apply size-10.5 ;
}
}
.twm-slider1-wrap .buttons-controls .swiper-button-next, .twm-slider1-wrap .buttons-controls .swiper-button-prev {
    @apply right-0;
}
.swiper-button-next {
   @apply right-0;
}
.swiper-button-prev {
    @apply left-0;
}
.twm-slider1-wrap .swiper-scrollbar {
    @apply bg-secondary w-full !opacity-100;
}
.twm-slider1-wrap .swiper-scrollbar .swiper-scrollbar-drag {
    @apply h-0.5 !bg-primary !opacity-100;
}
.twm-slider1-wrap .twm-slider1-content {
    @apply w-[calc(100vw_-_45%)] m-0 h-full relative bg-[#f9f3ea];
}
.twm-slider1-wrap .xl-title span {
    @apply 3xl:text-60xl/50 text-25xl inline-block font-display opacity-10 uppercase text-transparent mb-5 3xl:ml-20 ml-12 [-webkit-text-stroke:2px_#e2791d] [text-stroke:2px_#e2791d];
}
.pro-filtr-cate-bx .swiper-button-prev:after, .pro-filtr-cate-bx .swiper-button-next:after {
	@apply text-base py-2.5 px-3 duration-500;
}
.pro-filtr-cate-bx .swiper-button-next:hover, .pro-filtr-cate-bx .swiper-button-prev:hover {
    @apply bg-secondary text-white;
}
.non-swiper-slide {
    @apply !hidden;
}
.lg-backdrop.in {
    @apply !opacity-70;
}
.lg-outer .lg-thumb-outer{
	@apply !bg-transparent;
}
.lg-outer .lg-thumb-item {
	@apply border-none;
}
.lg-thumb-item:hover{
	@apply !scale-[.97];
}
.spin2{
	@apply origin-center;
}
.spin2 {
	animation: spin2 10s ease-in-out infinite,
	spin 5s linear infinite;
	animation-direction: alternate;
}
.reviewtwo-slider .swiper-pagination .swiper-pagination-bullet{
	@apply !bg-secondary size-3.75 rounded-none;
}

@media (max-width: 768px) {
.twm-slider1-wrap .twm-slider1 {
    @apply max-w-full w-full h-auto my-0 mx-auto py-12.5;
    }
}
@media (max-width: 1400px) {
.twm-slider1-wrap .twm-slider1-content {
   @apply w-[calc(100vw_-_380px)];
}
}
@media (max-width: 768px) {
.twm-slider1-wrap .twm-slider1-content {
   @apply size-auto mt-0 text-center;
}
}
@media (max-width: 768px) {
.twm-slider1-wrap {
	@apply block !h-auto;
}
}
.twm-slider1-content-inner-detail{
	@apply my-7.5;
}
.twm-hvillas-2slider .swiper-wrapper {
    @apply flex items-center;
}
.twm-hvillas-2slider .swiper-slide {
    @apply block;
}
.twm-hvillas-2slider .swiper-slide {
    @apply flex-none;
}
.site-bg-primary {
    @apply bg-primary;
}
.our-skills-item .progressbar {
    @apply w-[var(--progress-bar-count)] leading-2 visible !h-full;
    --progress-bar-count: 100%;
}
.locker .image.active {
    @apply opacity-100;
}
.locker__image img {
    @apply w-full h-175 mt-25 absolute object-cover;
}
@media (max-width: 1400px) {
    .locker__image img {
       @apply h-132.5;
    }
}
@media (max-width: 768px) {
    .locker__image {
        @apply hidden;
    }
}
.locker .image {
    @apply opacity-0 duration-500;
}
.site-button-icon {
    @apply content-[''] size-14 bg-primary flex items-center justify-center text-2xl text-white ml-12.5 relative;
}
.site-button-icon:before {
    @apply content-[''] h-px w-7.5 absolute top-1/2 -translate-y-1/2 -left-12.5 bg-primary;
}
.twm-product-v-scroll-bx .site-button-icon:after {
    @apply -z-1 h-px w-3.5 absolute top-1/2 -left-1/2 -translate-y-1/2 bg-primary animate-rightToLeft;
}
.twmTmonial2Slider .swiper-button-next:after, .twmTmonial2Slider .swiper-button-prev:after {
    @apply text-base py-2.5 px-3;
}
.twmTmonial2Slider .swiper-button-next {
    @apply translate-x-10 opacity-0;
}
.twmTmonial2Slider:hover .swiper-button-next {
    @apply translate-x-0 opacity-100;
}
.twmTmonial2Slider .swiper-button-prev {
    @apply -translate-x-10 opacity-0;
}
.twmTmonial2Slider:hover .swiper-button-prev {
    @apply translate-x-0 opacity-100;
}
.twmTmonial2Slider .swiper-button-next:hover, .twmTmonial2Slider .swiper-button-prev:hover {
   @apply bg-secondary text-white;
}

.twm-blog-list-carousal .site-button-icon:after {
    @apply -z-1 h-px w-3.5 absolute top-1/2 -left-1/2 -translate-y-1/2 bg-primary animate-rightToLeft;
}
.twm-blog-list-carousal .swiper-button-next:after, .twm-blog-list-carousal .swiper-button-prev:after {
    @apply text-base py-2.5 px-3;
}
.twm-blog-list-carousal .swiper-button-next:hover, .twm-blog-list-carousal .swiper-button-prev:hover {
   @apply bg-secondary text-white;
}

.product-SW-view2 .site-button-icon:after {
    @apply -z-1 h-px w-3.5 absolute top-1/2 -left-1/2 -translate-y-1/2 bg-primary animate-rightToLeft;
}
.product-SW-view2 .swiper-button-next:after, .product-SW-view2 .swiper-button-prev:after {
    @apply text-base py-2.5 px-3;
}
.product-SW-view2 .swiper-button-next:hover, .product-SW-view2 .swiper-button-prev:hover {
   @apply bg-secondary text-white;
}
.custom-pagination li a:hover, .custom-pagination li a.active {
    @apply text-white bg-primary;
}